 <template>
  <div ref="container">
    <svg ref="hist" :height="height" :width="width">
      <g ref="main" :transform="`translate(${padding[3]}, ${padding[0]})`" class="main"></g>
      <g class="axis axis--x" :transform="`translate(${padding[3]}, ${(innerHeight + padding[0])})`"></g>
      <g class="axis axis--y" :transform="`translate(${padding[3]}, ${padding[0]})`"></g>
    </svg>
    <div ref="tooltip"></div>
  </div>
</template>

<script>
import * as tooltip from "./Tooltip"
import * as d3 from "d3"

export default {
  props: {
    height: { type: Number },
    width: { type: Number },
    padding: { type: Array },
    color: { type: String },
    chartdata: { },
    showEveryNthTick: { type: Number, default: 1 },
    labelType:{type: String}
  },
  computed: {
    innerHeight() {
      return this.height - (this.padding[0] + this.padding[2])
    },
    innerWidth() {
      return this.width - (this.padding[1] + this.padding[3])
    }
  },
  mounted() {
    this.draw(this.chartdata);
  },
  watch: {
   $props: {
      handler() {
        this.draw(this.chartdata);
      },
      deep: true,
      immediate: true,
    },
  },
  methods: {
    draw(data) {
      if(this.width <= 0 || this.height <= 0) 
        return; //Nothing to do

      //The div which will contain tooltip information
      const tooltipDiv = d3.select(this.$refs.tooltip);
      tooltip.reinit(tooltipDiv);

      let svg = d3.select(this.$refs.hist) 

      // y scale. Enforce "0" being part of the graph
      let y = d3.scaleLinear().domain([Math.min(0, d3.min(data.bins)), Math.max(0, d3.max(data.bins))]).range([0, this.innerHeight])
      let yReverse = d3.scaleLinear().domain([Math.max(0, d3.max(data.bins)), Math.min(0, d3.min(data.bins))]).range([0, this.innerHeight])
      
      // y axis this.height
      let yAxis = d3.axisLeft(yReverse)
          .ticks(5);
        
      svg.select(".axis--y").call(yAxis)
      
      // x scale
      let xTicks = d3.scaleLinear()
        .domain([0, data.bins.length])
        .range([0, this.innerWidth])

    let xAxis = d3.axisBottom(xTicks)
      .ticks(data.bins.length)
      .tickFormat((d, i) => {
    const binRange = data.range[1] - data.range[0];
    const binCount = data.bins.length - 1;
    const value = Math.round(i * binRange / binCount + data.range[0]);

    // Show only every nth tick
    if (i % this.showEveryNthTick !== 0) {
      return '';  // Skip ticks
    }

    // Format labels based on the labelType prop
    if (this.labelType === 'months') {
      const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
      return months[(value - 1) % 12]; // Assuming 1 = January, 2 = February, etc.
    } else if (this.labelType === 'days') {
      const days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
      return days[(value - 1) % 7]; // Assuming 1 = Monday, 2 = Tuesday, etc.
    }

    // Default numeric value
    return d3.format("d")(value);
  });

        
 svg.select(".axis--x").call(xAxis)
  .selectAll("text")
  .attr("transform", (d, i) => {
    // Separate formatting for days and months
    if (this.labelType === 'days') {
      return "rotate(-45)"; // Rotate by -45 degrees for days
    } else if (this.labelType === 'months') {
      return "rotate(-30)"; // Rotate by -30 degrees for months to save space
    }
    return null; // No rotation if it's neither day nor month
  })
  .style("text-anchor", (d, i) => {
    // Handle text anchor for both cases
    if (this.labelType === 'days') {
      return "end"; // Right-align the text for days
    } else if (this.labelType === 'months') {
      return "middle"; // Center-align the text for months
    }
    return "middle"; // Default middle alignment for other types
  })
  .attr("x", (d, i) => {
    // Adjust x position based on label type
    const barWidth = this.innerWidth / data.bins.length; // Calculate the bar width
    if (this.labelType === 'days') {
      // Move day labels slightly left after rotation and adjust for bar width
      return barWidth / 2; // Center it based on the bar width
    } else if (this.labelType === 'months') {
      // Move month labels slightly to the right for bar width
      return -barWidth; // Center it based on the bar width
    }
    return 0; // No adjustment for other types
  })
  .attr("y", (d, i) => {
    // Adjust y position based on label type
    if (this.labelType === 'days') {
      return 20; // Slight downward shift for day labels after rotation
    } else if (this.labelType === 'months') {
      return 10; // Slightly bigger downward shift for month labels
    }
    return 8; // No adjustment for other types
  });

// Modify the last tick for days to remove its label
if (this.labelType === 'days') {
  svg.select(".axis--x").selectAll("g.tick")
    .filter((d, i) => i === data.bins.length) // Target the last tick
    .select("text").remove(); // Remove the label
}
        
        
      svg.select(".main").selectAll(".dataRect").data(data.bins)
         .join(
           enter => enter.append("rect")
             .attr("class", "dataRect")
             .attr("height", d => y(d))
             .attr("x", (d,i) => xTicks(i))
             .attr("y", (d) => this.innerHeight - y(d))
             .attr("width", this.innerWidth/data.bins.length)
             .attr("fill", this.color)
             .attr("stroke", "#ffffff"),
           update => update
             .attr("height", d => y(d))
             .attr("x", (d,i) => xTicks(i))
             .attr("y", (d) =>  this.innerHeight - y(d))
             .attr("width", this.innerWidth/data.bins.length)
             .attr("fill", this.color),
           exit => exit.remove()
      )
        
    console.log("Data Range:", data.range);
    console.log("Data Bins:", data.bins);

      let metrics = [ { value: data.mean, style: "mean" }, { value: data.median, style: "median" } ];
      let computeMetricX = (d) => (d-data.range[0]) / (data.range[1]-data.range[0]) * this.innerWidth;

      let lineWidth = 8;
      svg.select(".main").selectAll(".metric").data(metrics)
         .join(
           enter => {
             let g = enter.append("g")
               .attr("class", "metric")
               .on("mouseover", function(event, d) {
                tooltip.mouseover(tooltipDiv, event, `${d.style}: ${d.value}`);
               })
               .on("mouseout", function() {
                   tooltip.mouseout(tooltipDiv);
               });

             g.append("line")
               .attr("x1", (d) => computeMetricX(d.value))
               .attr("x2", (d) => computeMetricX(d.value))
               .attr("y1", this.innerHeight)
               .attr("y2", 0)
               .attr("class", (d) => d.style)
               .attr("stroke", "black");

             g.append("rect")
               .attr("x", (d) => computeMetricX(d.value)-lineWidth/2)
               .attr("y", 0)
               .attr("width", lineWidth)
               .attr("height", this.innerHeight)
               .style('opacity', '0');
               
               g.raise();
           },
           update => {
             update.select("rect")
               .attr("x", (d) => computeMetricX(d.value)-lineWidth/2)
               .attr("height", this.innerHeight);

             update.select("line")
               .attr("x1", (d) => computeMetricX(d.value))
               .attr("x2", (d) => computeMetricX(d.value));
               
            update.raise();
           },
           exit => exit.remove()
      )
    }
  }
};
</script>