<template>
  <v-container ref="container" :style="containerStyle">
    <div id="emptyMessage" v-if="!distribution_age && !distribution_duration && !distribution_disease">
      Click on a node to get information
    </div>

    <div id="distribution_age" v-if="distribution_age">
      <v-subheader class="pa-2">Age Distribution (patients/years)</v-subheader>
      <histogram-view 
        :padding="[0, 10, 20, 60]" 
        :width="display.side.width - 70" 
        :height="getValidHeight(display.main.innerHeight, 150, 4)" 
        :color="requested.color"
        :chartdata="distribution_age"
        :showEveryNthTick="3" 
      />
    </div>

    <div id="distribution_duration" v-if="distribution_duration">
      <v-subheader class="pa-2" style="margin-top: 30px;">Patient Record Duration (patients/minutes)</v-subheader>
      <histogram-view 
        :padding="[0, 10, 20, 60]" 
        :width="display.side.width - 70" 
        :height="getValidHeight(display.main.innerHeight, 150, 4)" 
        :color="requested.color"
        :chartdata="distribution_duration"
        :showEveryNthTick="2" 
      />
    </div>

    <div id="distribution_cum_duration" v-if="distribution_cum_duration">
      <v-subheader class="pa-2" style="margin-top: 30px;">Cumulative Duration (patients/minutes)</v-subheader>
      <histogram-view 
        :padding="[0, 10, 20, 60]" 
        :width="display.side.width - 70" 
        :height="getValidHeight(display.main.innerHeight, 150, 4)" 
        :color="requested.color"
        :chartdata="distribution_cum_duration"
        :showEveryNthTick="3" 
      />
    </div>

    <div id="distribution_admission_date" v-if="distribution_admission_date">
      <v-subheader class="pa-2">Choose the distribution type</v-subheader>

      <v-select
        v-model="selectedDistribution" 
        :items="distributionTypes"
        label="Select distribution"
        dense
        outlined
        class="mt-3"
        @change="changeHistogramType(selectedDistribution)" 
       >
      </v-select>

      <v-subheader class="pa-2">{{ getDistributionLabel(selectedDistribution) }}</v-subheader>

      <histogram-view 
        :padding="[0, 10, 50, 60]" 
        :width="display.side.width - 70" 
        :height="getValidHeight(display.main.innerHeight, 150, 4)" 
        :color="requested.color"
        :chartdata="distribution_admission_date"
        :showEveryNthTick="1"
        :labelType="xLabelFormat"
        :histogramType="histogram_type"  
      />
    </div>

    <div id="hospital_distribution" v-if="distribution_disease && diseases.filter(d => d.type === 'hospital').length">
      <v-subheader class="pa-2" style="margin-top: 30px;">Hospital Distribution (% of patients)</v-subheader>
      <barchart-view 
        :padding="[10, 10, 20, 60]" 
        :width="display.side.width - 70" 
        :height="getValidHeight(display.main.innerHeight, 150, 4)" 
        :chartdata="filteredHospitalData" 
        :domain="filteredHospitalData.map(d => d.name)"
        :colordomain="getColorDomain(diseases.filter(d => d.type === 'hospital'))" 
        :nbValues="distribution_nbValues"
      />
    </div>

    <div id="score_distribution" v-if="distribution_disease && diseases.filter(d => d.type === 'score').length">
      <v-subheader class="pa-2" style="margin-top: 30px;">Score distribution(% of patients)</v-subheader>
      <barchart-view 
        :padding="[10, 10, 20, 60]" 
        :width="display.side.width - 70" 
        :height="getValidHeight(display.main.innerHeight, 150, 4)" 
        :chartdata="filteredScoreData" 
        :domain="filteredScoreData.map(d => d.name)"
        :colordomain="getColorDomain(diseases.filter(d => d.type === 'score'))" 
        :nbValues="distribution_nbValues"
      />
    </div>
  </v-container>
</template>


<script>
import BarchartView from "../BarchartView";
import HistogramView from "../HistogramView";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      selectedDistribution: 'hour', 
      distributionTypes: [
        { value: 'hour', text: 'Hour Distribution (patients/hours)' },
        { value: 'day', text: 'Day Distribution (patients/days)' },
        { value: 'month', text: 'Month Distribution (patients/months)' },
        { value: 'day_week', text: 'Day of the Week Distribution (patients/days of the week)' }
      ],
    };
  },
  components: {
    HistogramView,
    BarchartView,
  },
  computed: {
    ...mapGetters([
      'distribution_age',
      'distribution_duration',
      'distribution_disease',
      'distribution_nbValues',
      'distribution_cum_duration',
      'distribution_admission_date',
      'display',
      'diseases',
      'requested',
      'histogram_type', 
    ]),

    xLabelFormat() {
      switch (this.selectedDistribution) {
        case 'day_week':
              console
          return 'days';
        case 'month':
          return 'months';
        default:
          return 'default'; 
      }
    },

    containerStyle() {
      const minHeight = Math.max(this.getValidHeight(this.display.main.innerHeight, 120), 1000);
      return {
        overflowY: "auto",
        paddingLeft: "0px",
        paddingRight: "0px",
        height: `${minHeight}px`,
      };
    },

    filteredHospitalData() {
      return this.filterDistributionByType('hospital');
    },

    filteredScoreData() {
      return this.filterDistributionByType('score');
    }
  },

  methods: {
    getValidHeight(innerHeight, subtractValue, divideValue = 1, minHeight = 100) {
      const height = (innerHeight - subtractValue) / divideValue;
      return height > minHeight ? height : minHeight; // Ensuring the height is always above minHeight
    },

    getDistributionLabel(value) {
      const selected = this.distributionTypes.find(type => type.value === value);
      return selected ? selected.text : 'Hour Distribution (patients/hours)';
    },

    /*async changeHistogramType(newType) {
    //await this.$store.dispatch('setHistogramType', newType);
    this.$store.commit('set_histogram_type', newType);
    console.log("Current histogram_type in Vuex:", this.histogram_type); 
    },*/

     async changeHistogramType(newType) {
      const previousParams = this.$store.state.last_distribution_params;
      const params = {
        ...previousParams, // Spread the previous parameters
        histogram_type: newType, // Change only the histogram_type
      };
      this.$store.commit('set_histogram_type', newType);
      console.log("Current histogram_type in Vuex:", newType);
      await this.$store.dispatch('get_distribution', params);

    },
      
    getColorDomain(diseases) {
      return diseases.reduce((a, d) => ({ ...a, [d.name]: d.color }), {});
    },

    filterDistributionByType(type) {
      const filteredDiseaseNames = this.diseases
        .filter(d => d.type === type)
        .map(d => d.name);
      return this.distribution_disease
        .filter(d => filteredDiseaseNames.includes(d.name));
    },
  },

watch: {
  selectedDistribution(newType) {
    this.changeHistogramType(newType); 

  }
}
};
</script>

<style scoped>
.mean {
  stroke: black;
  stroke-width: 1px;
}

.median {
  stroke: black;
  stroke-width: 1px;
  stroke-dasharray: 5 5;
}
</style>